<!-- This template is for the Administrator to add Primary Care Givers to the database -->
<template name="Contact">
    <script>
        document.body.style.background = "url('/img/stethoscope.jpg') no-repeat center center fixed";
    </script>
    <h2>Contact</h2>
    <section>
        <h4>Nursing Home</h4>
        <p>If you have any questions or comments, feel free to contact us @</p>
        <h4><BR>123 Fake st.
            <BR>Winnipeg MB
            <BR>R2G 4G4
            <BR>Phone: (204)555-5555
            <BR>Fax: (204)444-4444
            <BR>eMail: info@nursinghome.ca</h4>
    </section>

    <br>
</template>