<!-- This template is for the search function. The results of the search are shown on the same page -->
<template name="Search">
    <script>
        document.body.style.background = "url('/img/heart.jpg') no-repeat center center fixed";
    </script>
    <h2>Search</h2>
    <section>

    </section>
    <form class="searchPat">
    Search by name or patient id:<br>
    <input type="search" id="Query" class="Query" name="Query" size="50"/>
    <input type="submit" value="search" />
    </form>
    <br>
    {{#if hasResults}}
    {{>SearchResult}}
    {{/if}}
    <br><br>
</template>